#container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
#container > div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}
img {
  width: 100%;
}
button {
  background-color: darkred;
  color: white;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
h1 {
  text-align: center;
}

#total {
  width: 40%;
  margin: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}
#total > div {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
